version: "3"
services:
  app:
    container_name: heritage-app
    env_file: .env
    build: .
    environment: 
       DATABASE_URL: postgres://${PG_USER}:${PG_PASSWORD}@db:${PG_PORT}/${PG_DB}
       NODE_ENV: development  
       PORT: 3000
    ports:
    - 3000:3000
    depends_on:
      - db
    volumes:
      - .:/app/
      - /app/node_modules
  db:
    container_name: heritage-db
    env_file: .env
    environment:
      - POSTGRES_USER=${PG_USER}
      - POSTGRES_PASSWORD=${PG_PASSWORD}
      - POSTGRES_ROOT_PASSWORD=${PG_ROOT_PASSWORD}
      - POSTGRES_DB=${PG_DB}
    image: postgres
    ports: 
      - "35432:${PG_PORT}"
    volumes:
      - ./src/res/db/postgres/V1__Baseline.sql:/docker-entrypoint-initdb.d/V1__Baseline.sql